header {
  div.container {
    max-width: 90vw;
    height: 6rem;
    margin: 0px auto;

    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    align-items: center;

    h1 {
      margin: 0px;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.75rem;
      color: #1e9fab;
    }
  }
}
